In [21]:
import sys
import yfinance as yf


sys.path.append('finance_database')
from finance_database import finance_database

In [22]:
finance_database.main()

Statement executed successfully.
Statement executed successfully.
Statement executed successfully.
Statement executed successfully.
Starting on AFI.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- AFI.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996947
    - 0 history days retrieved
Starting on CKF.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- CKF.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996948
    - 0 history days retrieved
Starting on COH.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- COH.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996948
    - 0 history days retrieved
Starting on CTD.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- CTD.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996949
    - 0 history days retrieved
Starting on HPI.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- HPI.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996950
    - 0 history days retrieved
Starting on NDQ.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- NDQ.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996950
    - 0 history days retrieved
Starting on RHC.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- RHC.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996951
    - 0 history days retrieved
Starting on RMD.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- RMD.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996951
    - 0 history days retrieved
Starting on SHV.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- SHV.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996952
    - 0 history days retrieved
Starting on SOL.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- SOL.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996952
    - 0 history days retrieved
Starting on VAE.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- VAE.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996953
    - 0 history days retrieved
Starting on VAS.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- VAS.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996953
    - 0 history days retrieved
Starting on VGS.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- VGS.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996954
    - 0 history days retrieved
Starting on AUDUSD=X
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- AUDUSD=X: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996955
    - 0 history days retrieved
Starting on VWRA.L
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- VWRA.L: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996955
    - 0 history days retrieved
Starting on A200.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-27
- A200.AX: Invalid input - start date cannot be after end date. startDate = 1722009600, endDate = 1721996956
    - 0 history days retrieved
Starting on IBIT
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-26
    - 1 history days retrieved
Total of 1 history days retrieved across 1 codes
Data saved to table 'price_history' successfully.
Data saved to table 'price_current' successfully.
Exporting 162138 rows
Exporting 1 rows

In [23]:
yfinance_obj = yf.Ticker('VGS.AX')

In [24]:
yfinance_obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-06-26,123.561324,123.807011,123.089600,123.089600,72511,0.000000,0
2024-06-27,123.256671,123.256671,122.873398,122.971672,142270,0.000000,0
2024-06-28,123.816838,124.377006,123.787357,124.278732,82133,0.000000,0
2024-07-01,125.970001,125.970001,123.000000,123.500000,141602,2.181273,0
2024-07-02,123.400002,123.599998,123.209999,123.559998,115407,0.000000,0
2024-07-03,123.779999,123.889999,123.610001,123.849998,101953,0.000000,0
2024-07-04,123.940002,123.940002,123.690002,123.769997,75638,0.000000,0
2024-07-05,123.830002,123.849998,123.599998,123.790001,92496,0.000000,0
2024-07-08,123.790001,123.800003,123.559998,123.629997,87418,0.000000,0
2024-07-09,124.209999,124.349998,124.099998,124.129997,117576,0.000000,0
2024-07-10,124.000000,124.160004,123.860001,123.889999,111831,0.000000,0
2024-07-11,125.000000,125.050003,124.779999,124.870003,83041,0.000000,0
2024-07-12,124.220001,124.500000,124.000000,124.230003,142849,0.000000,0
2024-07-15,125.000000,125.169998,124.889999,125.070000,125776,0.000000,0
2024-07-16,125.400002,125.800003,125.300003,125.720001,99166,0.000000,0
2024-07-17,126.290001,126.470001,126.050003,126.129997,89476,0.000000,0
2024-07-18,125.330002,125.610001,125.040001,125.139999,146049,0.000000,0
2024-07-19,124.690002,124.800003,124.550003,124.800003,136021,0.000000,0
2024-07-22,124.750000,125.000000,124.110001,124.699997,171364,0.000000,0
2024-07-23,126.019997,126.169998,125.870003,126.029999,115047,0.000000,0
2024-07-24,125.970001,126.290001,125.830002,126.029999,158808,0.000000,0
2024-07-25,124.900002,125.339996,124.709999,124.860001,132451,0.000000,0
2024-07-26,124.809998,124.910004,124.599998,124.769997,139349,0.000000,0