In [1]:
import sys
import yfinance as yf
from pathlib import Path

sys.path.append('finance_database')
from finance_database import finance_database

In [2]:
finance_database.main()

Statement executed successfully.
Statement executed successfully.
Statement executed successfully.
Statement executed successfully.
Starting on AFI.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on CKF.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on COH.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on CTD.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on HPI.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-03-04
    - 1 history days retrieved
Starting on NDQ.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on RHC.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on RMD.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on SHV.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on SOL.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on VAE.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on VAS.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on VGS.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on AUDUSD=X
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 10 history days retrieved
Starting on VWRA.L
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on A200.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-07
    - 9 history days retrieved
Starting on IBIT
Statement executed successfully.
    - Database was read ok. Next date to download is 2025-04-08
    - 8 history days retrieved
Total of 145 history days retrieved across 17 codes
Index(['date', 'open', 'high', 'low', 'close', 'volume', 'dividends',
       'stock_splits', 'ticker_code', 'capital_gains'],
      dtype='object')
Data saved to table 'price_history' successfully.
Data saved to table 'price_current' successfully.
Exporting 165254 rows
Exporting 17 rows

In [3]:
yfinance_obj = yf.Ticker('VGS.AX')

In [4]:
yfinance_obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-03-17 00:00:00+11:00,134.889999,135.100006,134.750000,135.000000,188796,0.0,0.0,0.0
2025-03-18 00:00:00+11:00,135.630005,135.669998,135.210007,135.320007,174251,0.0,0.0,0.0
2025-03-19 00:00:00+11:00,135.350006,135.369995,134.919998,135.220001,116253,0.0,0.0,0.0
2025-03-20 00:00:00+11:00,136.570007,137.330002,136.550003,137.149994,149213,0.0,0.0,0.0
2025-03-21 00:00:00+11:00,137.380005,137.380005,136.759995,137.110001,165775,0.0,0.0,0.0
2025-03-24 00:00:00+11:00,137.839996,138.160004,137.770004,138.110001,114510,0.0,0.0,0.0
2025-03-25 00:00:00+11:00,139.000000,139.029999,138.600006,138.600006,121817,0.0,0.0,0.0
2025-03-26 00:00:00+11:00,139.100006,139.630005,138.779999,138.949997,137058,0.0,0.0,0.0
2025-03-27 00:00:00+11:00,137.440002,137.539993,137.179993,137.460007,128935,0.0,0.0,0.0
2025-03-28 00:00:00+11:00,137.210007,137.490005,136.910004,137.380005,124723,0.0,0.0,0.0
2025-03-31 00:00:00+11:00,134.669998,134.740005,133.929993,134.320007,131102,0.0,0.0,0.0
2025-04-01 00:00:00+11:00,134.220001,134.539993,133.699997,133.949997,176431,0.0,0.0,0.0
2025-04-02 00:00:00+11:00,134.410004,134.550003,133.699997,133.740005,100439,0.0,0.0,0.0
2025-04-03 00:00:00+11:00,132.000000,132.300003,130.720001,132.100006,192219,0.0,0.0,0.0
2025-04-04 00:00:00+11:00,130.000000,130.000000,128.350006,129.509995,257120,0.0,0.0,0.0
2025-04-07 00:00:00+10:00,123.500000,124.919998,122.400002,123.160004,465182,0.0,0.0,0.0
2025-04-08 00:00:00+10:00,127.500000,128.649994,126.510002,126.790001,457477,0.0,0.0,0.0
2025-04-09 00:00:00+10:00,126.000000,126.000000,122.800003,123.779999,317689,0.0,0.0,0.0
2025-04-10 00:00:00+10:00,133.000000,133.850006,130.559998,131.160004,298992,0.0,0.0,0.0
2025-04-11 00:00:00+10:00,126.580002,129.169998,125.339996,129.169998,253693,0.0,0.0,0.0
2025-04-14 00:00:00+10:00,128.740005,129.470001,128.610001,129.149994,128397,0.0,0.0,0.0
2025-04-15 00:00:00+10:00,128.949997,129.000000,127.550003,128.009995,108941,0.0,0.0,0.0
2025-04-16 00:00:00+10:00,127.889999,127.889999,126.589996,126.889999,176859,0.0,0.0,0.0
2025-04-17 00:00:00+10:00,126.290001,127.580002,125.800003,127.580002,230172,0.0,0.0,0.0