In [22]:
import main

In [23]:
main.main()

Statement executed successfully.
Statement executed successfully.
Statement executed successfully.
Statement executed successfully.
Starting on AFI.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on CKF.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on COH.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on CTD.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on HPI.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on NDQ.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on RHC.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on RMD.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on SHV.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on SOL.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on VAE.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on VAS.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on VGS.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on AUDUSD=X
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-21
- AUDUSD=X: Invalid input - start date cannot be after end date. startDate = 1721491200, endDate = 1721466081
    - 0 history days retrieved
Starting on VWRA.L
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on A200.AX
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Starting on IBIT
Statement executed successfully.
    - Database was read ok. Next date to download is 2024-07-20
    - 1 history days retrieved
Total of 16 history days retrieved across 16 codes
Data saved to table 'price_history' successfully.
Data saved to table 'price_current' successfully.
Exporting 162054 rows
Exporting 16 rows

In [24]:
import yfinance as yf

In [25]:
yfinance_obj = yf.Ticker('VGS.AX')

In [26]:
yfinance_obj.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-06-19,123.679249,123.679249,123.335288,123.364769,64313,0.000000,0
2024-06-20,123.315638,123.708733,123.187876,123.708733,58476,0.000000,0
2024-06-21,123.433561,123.433561,123.207533,123.364769,99308,0.000000,0
2024-06-24,123.443392,123.463044,123.138741,123.286148,87126,0.000000,0
2024-06-25,123.197703,123.266496,123.001156,123.138741,94858,0.000000,0
2024-06-26,123.561324,123.807011,123.089600,123.089600,72511,0.000000,0
2024-06-27,123.256671,123.256671,122.873398,122.971672,142270,0.000000,0
2024-06-28,123.816838,124.377006,123.787357,124.278732,82133,0.000000,0
2024-07-01,125.970001,125.970001,123.000000,123.500000,141602,2.181273,0
2024-07-02,123.400002,123.599998,123.209999,123.559998,115407,0.000000,0
2024-07-03,123.779999,123.889999,123.610001,123.849998,101953,0.000000,0
2024-07-04,123.940002,123.940002,123.690002,123.769997,75638,0.000000,0
2024-07-05,123.830002,123.849998,123.599998,123.790001,92496,0.000000,0
2024-07-08,123.790001,123.800003,123.559998,123.629997,87418,0.000000,0
2024-07-09,124.209999,124.349998,124.099998,124.129997,117576,0.000000,0
2024-07-10,124.000000,124.160004,123.860001,123.889999,111831,0.000000,0
2024-07-11,125.000000,125.050003,124.779999,124.870003,83041,0.000000,0
2024-07-12,124.220001,124.500000,124.000000,124.230003,142849,0.000000,0
2024-07-15,125.000000,125.169998,124.889999,125.070000,125776,0.000000,0
2024-07-16,125.400002,125.800003,125.300003,125.720001,99166,0.000000,0
2024-07-17,126.290001,126.470001,126.050003,126.129997,89476,0.000000,0
2024-07-18,125.330002,125.610001,125.040001,125.139999,146049,0.000000,0
2024-07-19,124.690002,124.800003,124.550003,124.800003,136021,0.000000,0